<router-outlet />

<!-- Header -->
<header
  style="
    background-color: #225ec4;
    padding: 1em;
    text-align: center;
    color: white;
  "
>
  <h1>Your Car Your Way</h1>
  <p style="font-size: 1.2em">
    Des voitures pour chaque besoin, chaque destination.
  </p>
</header>

<!-- Changement Utilisateur/Service Client - Switch -->
<div
  style="
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    margin: 1em;
  "
>
  <p>Parler en tant que : Utilisateur</p>
  <label class="switch">
    <input type="checkbox" (change)="onToggleChanged($event)" />
    <span class="slider round"></span>
  </label>
  <p>Support</p>
</div>

<!-- Chat -->
<div style="position: fixed; bottom: 1em; right: 1em">
  <app-talkjs-chat></app-talkjs-chat>
</div>

<!-- Voiture -->
<div class="main-content">
  <h2>Découvrez nos offres de location</h2>
  <div class="car-offers">
    <!-- Carte pour Voiture Compacte -->
    <div class="car-card">
      <img
        src="https://i.pinimg.com/736x/93/2a/83/932a831eb96493b25d9be7a085c8b494.jpg"
        alt="Voiture Compacte"
      />
      <h3>Voiture Compacte</h3>
      <p class="details">
        <strong>Catégorie :</strong> Compact<br />
        <strong>Tarif :</strong> 20€/jour<br />
        <strong>Capacité :</strong> 4 passagers<br />
        <strong>Marque :</strong> Toyota Yaris
      </p>
      <p class="description">
        Parfaite pour les trajets en ville, elle allie maniabilité et économie
        de carburant.
      </p>
    </div>

    <!-- Carte pour SUV Familial -->
    <div class="car-card">
      <img
        src="https://i.pinimg.com/736x/6d/65/85/6d6585674bdb709e2e33fc8dad8aac3e.jpg"
        alt="SUV Familial"
      />
      <h3>SUV Familial</h3>
      <p class="details">
        <strong>Catégorie :</strong> SUV<br />
        <strong>Tarif :</strong> 50€/jour<br />
        <strong>Capacité :</strong> 7 passagers<br />
        <strong>Marque :</strong> Hyundai Tucson
      </p>
      <p class="description">
        Idéal pour les longues distances avec toute la famille, ce SUV offre
        confort et sécurité.
      </p>
    </div>

    <!-- Carte pour Voiture de Luxe -->
    <div class="car-card">
      <img
        src="https://i.pinimg.com/736x/7c/99/0f/7c990f614d303704352e0044bfcc02e6.jpg"
        alt="Voiture de Luxe"
      />
      <h3>Voiture de Luxe</h3>
      <p class="details">
        <strong>Catégorie :</strong> Luxe<br />
        <strong>Tarif :</strong> 120€/jour<br />
        <strong>Capacité :</strong> 4 passagers<br />
        <strong>Marque :</strong> Mercedes-Benz Classe S
      </p>
      <p class="description">
        Pour vos occasions spéciales ou vos voyages d'affaires, roulez avec
        élégance et confort.
      </p>
    </div>
  </div>
</div>
